{% extends 'main.html' %}
{% block content %}
    {% include 'nav.html' %}
    <div class="flex justify-center bg-lightBlue p-6">
        <form action="" method="POST" class="bg-white rounded-lg p-6 flex flex-col mt-10 w-9/12 md:w-96">
            {% if messages %}
            <ul class="messages p-2 bg-red mb-5">
                {% for message in messages %}
                <li class="text-white text-xs px-2">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            <h4 class="text-center font-bold mb-5">Change Profile Type</h4>

            {% for fields in form %}
            <div class="border-b-1 border-darkBlue mb-5">
                {{fields}}
            </div>
            <span class="text-red p-2 text-sm">{{field.errors}}</span>
            {% endfor %}

            <input type="submit" value="Submit" class="mb-5 bg-darkBlue text-white p-2 cursor-pointer">
        </form>
    </div>

    {% endblock content %}