<footer class="flex flex-col space-y-6 md:flex-row md:space-x-3 p-6 bg-black">
    <div class="flex-col space-y-3">
        <h1 class="text-white font-bold text-center text-sm pt-5">THOUSANDS OF TV SHOWS & MOVIES TO KEEP YOU BUSY 24/7</h1>
        <p class="text-center text-white text-sm">The best of Nolywoods, Korean, Bolywood and more</p>
    </div>
    <div class="flex-col space-y-3">
        <h1 class="text-white font-bold text-center text-sm">CONNECT UP TO 10 DEVICE</h1>
        <p class="text-center text-white text-sm">Choose the family and friends plan to stream on up to 10 devices</p>
    </div>
    <div class="flex-col space-y-3">
        <h1 class="text-white font-bold text-center text-sm">STREAM NOW OR DOWNLOAD TO WATCH LATER</h1>
        <p class="text-center text-white text-sm"><a href="">Stream or Download</a></p>
    </div>
    <div class="flex-col space-y-3">
        <h1 class="text-white font-bold text-center text-sm">CONTACT US</h1>
        <p class="text-center text-white"><i class=" fa-solid fa-phone "></i> 07030916234</p>
        <div class="flex flex-row space-x-3 justify-center">
        <p class="text-center text-white"><a href=""><i class="fa-brands fa-facebook fa-2x"></i></a></p>
        <p class="text-center text-white"><a href=""><i class="fa-brands fa-square-twitter fa-2x"></i></a></p>
        </div>
    </div>
</footer>